.header
{
    background:#4aa4c5;
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin: auto;
    width: 100%;
}
.header .list1 .links
{
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-column-gap: .1em;
    width: 30%;
    margin-left: 1.2em;
    margin-top: 0.9em;
}
.header .list1 .links .fb img:hover
{
    background-color:whitesmoke;
    transform: scale(1.2);
}
.header .list1 .links .twitter img:hover
{
    background-color:whitesmoke;
    transform: scale(1.2);
}
.header .list1 .links .ig img:hover
{
    background-color:whitesmoke;
    transform: scale(1.2);
}
.header .list1 .links .google img:hover
{
    background-color:whitesmoke;
    transform: scale(1.2);
}
.header .list1
{
    display: flex;
    margin-left: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}
.header .list2 ul li
{
    display: inline;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.header .list2 ul li a
{
    text-decoration: none;
    color: white;
}

.header .list2
{
    margin-left: 550px;
}
.header2
{
    /* background:#afe1f5; */
    background: whitesmoke;
    display: flex;
    padding-left: 5em;
    padding-top: .8em;
    padding-bottom: .8em;
}
.logo
{
    width: 5%;
}
.title h2
{
    padding-left: .5em;
    color: #0c479d;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    margin-top: 17px;
}
.title a
{
text-decoration: none;
color: #0c479d;
}
.inputbox
{
    padding-left: 8em;
    padding-top: .9em;
    border: none;
    
}
.inputbox input
{
    width:25em;
    height: 2.5em;
    background-color:whitesmoke;
    border: 2px solid #0c479d;
    border-radius: 2px;
}
.searchicon
{
    background-color: #afe1f5;
}
.searchicon .fa-magnifying-glass
{
    font-size:x-large;
    margin-top: 1em;
    color: #0c479d;
    margin-left: -1.3em;
}
.emerge
{
 background-color: #db0b20;
 width:12%;
 text-align: center;
 height: 3em;
 padding-top: 5px;
 margin-left: 12em;
 margin-top: .5em;
}
.emerge:hover
{
    background-color: #f82439;
}
.emerge a
{
text-decoration: none;
color:white;
font-family: 'Lato', sans-serif;
text-transform: uppercase;
}
.lifeline a
{
text-decoration: none;
color:white;
font-family: 'Lato', sans-serif;
text-transform: uppercase;
}
.lifeline
{
 background-color: green;
 width:12%;
 text-align: center;
 height: 3em;
 padding-top: 5px;
 margin-top: .5em;
}
.lifeline:hover
{
    background-color: rgb(6, 185, 6);
}
.navbar
{
    background-color:white;
    width: 100%;
    height: 3rem;
    margin: auto;
    padding-top: .1rem;
    padding-bottom: .3rem;
}
.navbar li
{
    display: inline;
    padding-left: 15px;
    
}
.navbar li a
{
    text-decoration: none;
    color:#0c479d;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 29px;
}
.banner
{
    background-image: url("assets/bg3.png");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 1px;
}
.banner h2
{
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    color:white;
    padding-left: 3rem;
}
.banner span
{
/* color: #c7014b; */
color: navy;
}
.banner h4
{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color:#0c479d;
    padding-left: 3.4rem;
    margin-top:-3rem;
}
.banner button
{
    width:16%;
    height:2.4em;
    margin-left:3.4rem;
    background-color: #0c479d;
    border-radius: 5px;
    border: 3px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin-top:-3rem;
}
.banner button a
{
    text-decoration: none;
    color: white;
}
.banner button:hover
{
    color: #0c479d;
    background-color: white;
    border: 4px solid #083c8b;
    font-size: 1em;
}
.banner button a:hover
{
    color: #0c479d;
    background-color: white;
}
.coe
{
    background-color: whitesmoke;
    padding: .1em;
    text-align: center;
}
.coe h1
{
    font-family: 'Poppins', sans-serif;
    color: #0c479d;
    margin-top: 2em; 
}
.coe a
{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #0c479d;
}
.coe p
{
    margin-top: 2px;
}
.coe .cardio img
{
    width: 70%;
    height: auto;
    border-radius:50%;
    border: 2px solid #0c479d;
    transition: transform;
    transition-duration: 1s;
}
.coe .cardio img:hover
{
    background-color: white;
    border: 2px solid green;
    transform: scale(1.1);
}
.coe p:hover
{
    color: green;
    transform: scale(1.1);
}
.coe .onco img
{
    width: 70%;
    height: auto;
    border-radius:50%;
    border: 2px solid #0c479d;
    transition: transform;
    transition-duration: 1s;
}
.coe .onco img:hover
{
    background-color: white;
    border: 2px solid green;
    transform: scale(1.1);
}
.coe .brain img
{
    width: 70%;
    height: auto;
    border-radius:50%;
    border: 2px solid #0c479d;
    transition: transform;
    transition-duration: 1s;
}
.coe .brain img:hover
{
    background-color: white;
    border: 2px solid green;
    transform: scale(1.1);
}
.coe .uro img
{
    width: 70%;
    height: auto;
    border-radius:50%;
    border: 2px solid #0c479d;
    transition: transform;
    transition-duration: 1s;
}
.coe .uro img:hover
{
    background-color: white;
    border: 2px solid green;
    transform: scale(1.1);
}
.coe .ortho img
{
    width: 70%;
    height: auto;
    border-radius:50%;
    border: 2px solid #0c479d;
    transition: transform;
    transition-duration: 1s;
}
.coe .ortho img:hover
{
    background-color: white;
    border: 2px solid green;
    transform: scale(1.1);
}
.coe .gastro img
{
    width: 70%;
    height: auto;
    border-radius:50%;
    border: 2px solid #0c479d;
    transition: transform;
    transition-duration: 1s;
}
.coe .gastro img:hover
{
    background-color: white;
    border: 2px solid green;
    transform: scale(1.1);;
}
.coe .dept
{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.8em;
}
.covid
{
    background:white;
    padding: .1em; 
    margin-bottom: 3em;
}
.covid h1
{
    margin-top: 2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0c479d;
}
.covid p
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0c479d;
}
.safety
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 90%;
    margin: auto;
    grid-column-gap: 2.5em;
    grid-row-gap: 2em;
    margin-top: 3em;
    margin-bottom: 2.8em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0c479d;
}
.safety a
{
    text-decoration: none;
    color: #0c479d;
}
.sanitation
{
    width: 100%;
    height: 19em;
    border: 2px solid #bdf3ff;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    background: #f4fdff;
}
.distance
{
    width: 100%;
    height: 19em;
    border: 2px solid #bdf3ff;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    background: #f4fdff;
}
.mask
{
    width: 100%;
    height: 19em;
    border: 2px solid #bdf3ff;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    background: #f4fdff;
}
.entrance
{
    width: 100%;
    height: 19em;
    border: 2px solid #bdf3ff;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    background: #f4fdff;
}
.staff
{
    width: 100%;
    height: 19em;
    border: 2px solid #bdf3ff;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    background: #f4fdff;
}
.treatment
{
    width: 100%;
    height: 19em;
    border: 2px solid #bdf3ff;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    background: #f4fdff;
}
.covidinfo
{
    width:80%;
    background:#4aa4c5;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
}
.covidinfo .caution
{
    width:30%;
    padding-top: 1.9em;
    margin-left: 2em;
    animation: ani1;
    animation-duration: 2s;
}
.covidinfo .guideliness h4
{
    font-family: 'Poppins', sans-serif;
    color: navy;
    text-transform: uppercase;
    margin-top: 1.1em;
    font-size: larger;
    animation: ani3;
    animation-duration: 2s;
}
.covidinfo .guideliness h5 a
{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: navy;
}
.covidinfo .guideliness h5
{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin-top: -1em;
    animation: ani4;
    animation-duration: 2s;
}
.covidinfo .infobutton button
{
    width:80%;
    height:3em;
    background-color:transparent;
    border: 2px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 2.3em;
    animation: ani2;
    animation-duration: 2s;
}
.covidinfo .infobutton button:hover
{
    box-shadow: 0px 0px 15px 2px #0c479d;
}
.covidinfo .infobutton a
{
    text-decoration: none;
    color: white;
}
@keyframes ani1 {
    from
    {
        transform: translateX(-20px);
    }    
    to
    {
        transform: translateX(0px);
    }
}
@keyframes ani2 {
    from
    {
        transform: translateX(20px);
    }    
    to
    {
        transform: translateX(0px);
    }
}
@keyframes ani3 {
    from
    {
        transform: translateY(-20px);
    }    
    to
    {
        transform: translateY(0px);
    }
}
@keyframes ani4 {
    from
    {
        transform: translateY(20px);
    }    
    to
    {
        transform: translateY(0px);
    }
}
.oncology
{
    background-image: url("assets/oncology1.jpg");
    width: 100%;
    height:600px;
    background-size: cover;
}
.oncology .oncocontent
{
    width: 40%;
    padding-top: 4.5em;
    font-family: 'Lato', sans-serif;
    color: #0c479d;
    padding-left: 4em;
}
.oncology a
{
    text-decoration: none;
    color: #0c479d;
}
.cardiology
{
    width: 100%;
    display: flex;
    background: whitesmoke;
}
.cardiology .cardiocontent
{
    padding-top: 8em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Lato', sans-serif;
    color: #0c479d;
    padding-left: 4em;
}
.cardiology a
{
    text-decoration: none;
    color: #0c479d;
}
.orthopedics
{
    width: 100%;
    display: flex;
    background: #020202;
}
.orthopedics .orthocontent
{
    padding-top: 5em;
    font-family: 'Lato', sans-serif;
    color: #a1a1a1;
    padding-left: 4em;
    padding-right: 8em;
}
.orthopedics a
{
    text-decoration: none;
    color: #a1a1a1;
}
.discon
{
    background: whitesmoke;
    height: 760px;
}
.disclaimer
{
    width: 90%;
    display: flex;
    margin: auto;
    background: whitesmoke;
    padding-top: 2em;
    font-family: 'Lato', sans-serif;
    color: #0c479d;
}
.disclaimer .transplant
{
    margin-left: 3em;
}
.discon .disclaimer .recruitment button
{
    border: none;
    background-color: transparent;
    margin-left:-5px;
    
}
.discon .disclaimer .recruitment button:hover
{
    text-decoration: underline;
}
.discon .disclaimer .recruitment button a
{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: #0c479d;
    font-weight: bold;
    text-transform: uppercase;
}
.discon .disclaimer .recruitment a
{
    text-decoration: none;
    color: #0c479d;
}
.discon .disclaimer .transplant button
{
    border: none;
    background-color: transparent;
    margin-left:-5px;
}
.discon .disclaimer .transplant button a
{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: #0c479d;
    font-weight: bold;
    text-transform: uppercase;
}
.discon .disclaimer .transplant a
{
    text-decoration: none;
    color: #0c479d;
}
.discon .disclaimer .transplant button:hover
{
    text-decoration: underline;
}
.nephcon
{
    height: 400px;
}
.nephrology
{
    width: 95%;
    display: flex;
    background: white;
    margin: auto;
    padding: .1em;
    padding-top: 5em;
}
.nephrology .nephrocontent
{
    padding-left: 4em;
    font-family: 'Lato', sans-serif;
    color: #0c479d;
    margin-left: 7em;
}
.nephrology a
{
    text-decoration: none;
    color: #0c479d;
}
.neurology
{
    background-image: url("assets/neurology.jpg");
    width: 100%;
    height:600px;
    background-size: cover;
}
.neurology .neurocontent
{
    width: 35%;
    padding-top: 4.5em;
    font-family: 'Lato', sans-serif;
    color: #2d1320;
    padding-left: 4em;
}
.neurology a
{
    text-decoration: none;
    color: #2d1320;
}
.urology
{
    width: 100%;
    display: flex;
    /* background: #d3d3d3; */
    background: #f1f1f1;
}
.urology .cardiocontent
{
    padding-top: 8em;
    padding-left: 2em;
    padding-right: 2.5em;
    font-family: 'Lato', sans-serif;
    color: #0c479d;
    padding-left: 4em;
}
.urology a
{
    text-decoration: none;
    color: #0c479d;
}
.gastroenterology
{
    width: 100%;
    display: flex;
    background: #f1f1f1;
}
.gastroenterology .gastrocontent
{
    padding-top: 5em;
    font-family: 'Lato', sans-serif;
    color: #0c479d;
    padding-left: 4em;
    padding-right: 8em;
}
.gastroenterology a
{
    text-decoration: none;
    color: #0c479d;
}
.category
{
    background-color: white;
}
.choose
{
    display: grid;
    grid-template-columns: repeat(5,auto);
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 4.5em;
    padding-bottom: 2em;
    text-transform: uppercase;
}
.choose a
{
    text-decoration: none;
    color: #0c479d;
    font-family: 'Poppins', sans-serif;
}
.choose .appointment .fa-book
{
font-size:50px;
color: #0c479d;
transition: transform;
transition-duration: 1s;
animation: ani5;
animation-duration: 1s;
}
.choose .appointment .fa-book:hover
{
    transform: scale(1.2);
}
@keyframes ani5 {
    from
    {
        transform: translateX(-100px);
    }
    to
    {
        transform: translateX(0px);
    }
}
.choose .cononline .fa-briefcase-medical
{
font-size:50px;
color: #0c479d;
transition: transform;
transition-duration: 1s;
animation: ani6;
animation-duration: 1s;
}
.choose .cononline .fa-briefcase-medical:hover
{
    transform: scale(1.2);
}
@keyframes ani6 {
    from
    {
        transform: translateY(100px);
    }
    to
    {
        transform: translateY(0px);
    }
}
.choose .buymed .fa-capsules
{
font-size:50px;
color: #0c479d;
transition: transform;
transition-duration: 1s;
animation: ani7;
animation-duration: 1s;
}
.choose .buymed .fa-capsules:hover
{
    transform: scale(1.2);
}
@keyframes ani7 {
    from
    {
        transform: translateY(-100px);
    }
    to
    {
        transform: translateY(0px);
    }
}
.choose .findhos .fa-hospital
{
font-size:50px;
color: #0c479d;
transition: transform;
transition-duration: 1s;
animation: ani8;
animation-duration: 1s;
}
.choose .findhos .fa-hospital:hover
{
    transform: scale(1.2);
}
@keyframes ani8 {
    from
    {
        transform: translateY(100px);
    }
    to
    {
        transform: translateY(0px);
    }
}
.choose .booklab .fa-flask-vial
{
font-size:50px;
color: #0c479d;
transition: transform;
transition-duration: 1s;
animation: ani9;
animation-duration: 1s;
}
.choose .booklab .fa-flask-vial:hover
{
    transform: scale(1.2);
}
@keyframes ani9 {
    from
    {
        transform: translateX(100px);
    }
    to
    {
        transform: translateX(0px);
    }
}
.mapvid
{
    display: grid;
    width:90%;
    grid-template-columns: repeat(2,auto);
    margin: auto;
    justify-content: space-between;
    padding-top: 1.8em;
    padding-bottom: 5em;
}
.footers
{
    background-color: #4aa4c5;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,auto);
    margin: auto;
    padding-top: 1.8em;
}
.footers a
{
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.footers li
{
    list-style: none;
    margin-top: 12px;
}
.footers li1 a
{
    font-weight: 800;
    color: white;
}
.footers li a
{
    position: relative;
    width: fit-content;
}
.footers ul li a::after
{
    content: "";
    background-color: navy;
    bottom: 0;
    height: 2.5px;
    left: 0;
    right: 100%;
    position: absolute;
    transition: all;
    transition-duration: 1s;
    margin-bottom: -3px;
}
.footers ul li a:hover:after
{
content: "";
background-color: white;
bottom: 0;
height: 2.5px;
left: 0;
right: 0;
position: absolute;
width: 100%;
transition: all;
transition-duration: 1s;
}
.footers li1 a
{
    position: relative;
    width: fit-content;
}
.footers ul li1 a::after
{
    content: "";
    background-color: navy;
    bottom: 0;
    height: 2.5px;
    left: 0;
    right: 100%;
    position: absolute;
    transition: all;
    transition-duration: 1s;
    margin-bottom: -3px;
}
.footers ul li1 a:hover:after
{
content: "";
background-color: white;
bottom: 0;
height: 2.5px;
left: 0;
right: 0;
position: absolute;
width: 100%;
transition: all;
transition-duration: 1s;
}
.finalfooters
{
    background:#4aa4c5;   
}
.finalfooter1
{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 2em;
}
.footertitle
{
    width: 40%;
}
.footertitle h2
{
padding-left: .8em;
padding-top: .7em; 
font-weight:bold;
font-size:2.5em;
font-family: 'Lato', sans-serif;
}
.footertitle a
{
    text-decoration: none;
    color: navy;  
}
.footertext
{
width: 70%;
font-weight:500;
font-family: 'Lato', sans-serif;
color:whitesmoke;
font-size:1.4em;
padding-top: .5em;
}
.finalfooter2
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 90%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1.5em;
}
.finalfooter2 .ff21 .footerlinks
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    width:80%;
    margin: auto;
}
.finalfooter2 .ff21 p
{

    font-weight:bold;
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    padding-left: 2.8em;
    font-size:1.5em;
}
.finalfooter2 .ff22 a
{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    font-size:1.4em;
    margin-left: 10px;
    font-weight: bold;
}
.finalfooter2 .ff22
{
    padding-top: 24px;
}
.finalfooter2 .ff23 p
{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    font-size:1.4em;
    margin-left: 10px;
    font-weight: bold;
}
.copyright
{
    padding-bottom: 2.5em;
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    font-weight: 500;
    font-size:1em;
    text-align: center;
}
.copyright .fa-copyright
{
    font-size:2em;
}

@media screen and (max-width:500px) {
.header
{
    display: none;    
}




}